<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- Bootstrap javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<script src="/app.js"></script>
<div class="footer-padding">
  <div class="footer">
  <a target="_blank" href="https://www.facebook.com/profile.php?id=100010215105418"><i class="social-btn fa-brands fa-facebook face-b" ></i></a> 
<a target="_blank" href="https://www.instagram.com/abd11ellah/"><i class="social-btn fa-brands fa-instagram insta-b"></i></a>
<a target="_blank" href="https://www.linkedin.com/in/abdulilah-al-hamwi-101390201"><i class="social-btn fa-brands fa-linkedin link-b" ></i></a>
<a target="_blank" href="mailto:abdulilahalhamwi@gmail.com"><i class="social-btn fa-regular fa-envelope email-b" ></i></a>
<p class="last-p">© 2022/Abdulilah Al Hamwi</p>
</div>
</div>
  
</body>


</html>